/* Fonts */
@font-face {
  font-family: "tt_chocolates_medium";
  src: url("/src/assets/fonts/tt_chocolates_medium.otf");
}
@font-face {
  font-family: "tt_chocolates_demibold";
  src: url("/src/assets/fonts/tt_chocolates_demibold.otf");
}
@font-face {
  font-family: "tt_chocolates_bold";
  src: url("/src/assets/fonts/tt_chocolates_bold.otf");
}

/* Utility Classes */
.text--medium {
  font-family: "tt_chocolates_medium", sans-serif;
}
.text--demibold {
  font-family: "tt_chocolates_demibold", sans-serif;
}
.text--bold {
  font-family: "tt_chocolates_bold", sans-serif;
}
.font--sm {
  font-size: 12px;
}
.font--md {
  font-size: 16px;
}
.font--lg {
  font-size: 24px;
}
.main-dark {
  color: #151f2a;
}
.main-light {
  color: #404d5c;
}
.main-grey {
  color: #727f8f;
}

/* General App Styles */
#app {
  @extend .text--medium;
  font-family: "tt_chocolates_medium", Arial, Helvetica, sans-serif;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5faff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Article feature related Styles */
.article-page__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 16px;
  padding: 8px;
}
.close-edit__icon {
  display: none;
}

/* Media queries */
@media screen and (max-width: 599px) {
  .article-page__container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 8px;
  }
  .close-edit__icon {
    display: block;
  }
  .hide-section {
    display: none;
  }
  .article-list__add-button {
    position: absolute;
    bottom: 12px;
  }
}
